<!DOCTYPE html>
<html>
<head>
    <title>Food Orders</title>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="bi bi-house"></i>

  <a class="navbar-brand" href="/">FoodOrders</a>
  <div class="ms-auto">
    {% if user.is_authenticated %}

      <span class="me-2">Welcome, {{ user.username }}</span>

      <!--Logout Form-->

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      
    {% else %}
      <a href="{% url 'signup' %}" class="btn btn-outline-primary">Sign Up</a>
.
          <a href="{% url 'login' %}" class="btn btn-outline-success">
        <i class="fa-solid fa-right-to-bracket"></i>Login</a>
        
    {% endif %}
  </div>
</nav>


<!-- Hero Banner -->

<div class="bg-light text-center p-4">
  <h1>Order Fresh Food Anytime</h1>
  <p>Fast delivery, best taste, great prices</p>
  <a href="{% url 'menu_list' %}" class="btn btn-warning btn-lg">Shop Now</a>
</div>

 <div class="bg-warning text-dark fw-bold p-2 scroll-text">
  <marquee behavior="scroll" direction="left" scrollamount="9">
   📢 Buy any 7 to get free 2 🎁
  </marquee>
</div>




<!-- Categories -->

<div class="container mt-5">
  <h2>Categories</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="/media/image.png" class="card-img-top" alt="Pizza">
        <div class="card-body text-center">
          <h5>Pizza</h5>
        </div>
      </div>
    </div>

     <div class="col-md-3">
      <div class="card">
        <img src="/media/burger.jpg" class="card-img-top" alt="burger">
        <div class="card-body text-center">
          <h5>burger</h5>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="card">
        <img src="/media/cold drink.jpg" class="card-img-top" alt="burger">
        <div class="card-body text-center">
          <h5>Cold Drink & Juice</h5>
        </div>
      </div>
    </div>
        
      <div class="col-md-3">
      <div class="card">
        <img src="/media/morningmeal.jpg" class="card-img-top" alt="Dairy, bread &eggs">
        <div class="card-body text-center">
          <h5>Dairy, Breads & Eggs</h5>
        </div>
      </div>
    </div>

          <div class="col-md-3">
      <div class="card">
        <img src="/media/fruitsandveg.jpg" class="card-img-top" alt="Fruits & Vegetable">
        <div class="card-body text-center">
          <h5>Fruits & Vegetable</h5>
        </div>
      </div>
    </div>


  </div>
</div>



<!-- Footer -->

<footer class="bg-dark text-white mt-5 p-4">
  <div class="container">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-6">
        <h5>FoodOrders</h5>
        <p>&copy; 2026 FoodOrders. All rights reserved.</p>
      </div>

      <!-- Right Section -->

      <div class="col-md-6 text-md-end">
        <p>
          Contact us: 
          <a href="mailto:info@foodorders.com" class="text-warning">info@foodorders.com</a> 
         <p>For Recipe Contact: 
          <a href="mailto:smishra@gmail.com" class="text-warning">saumyarecipe@gmail.com</a>
        </p>
        </p>

        <!-- Social Icons -->

        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="sm097339" class="text-white"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
